{% extends 'base.html' %}

{% block title %}{{ rezervace.jmenoZakaznika }} {{ zakaznik.prijmeniZakaznika }}{% endblock %}

{% block content %}
    <h1 class="text-center yellow bg-black">{{ zakaznik.jmenoZakaznika }} {{ zakaznik.prijmeniZakaznika }}</h1>
    <div class="row bg-black p-3 text-light">
        <div class="col-md-5">
            <h3 class="yellow">Informace:</h3>
            <p class="yellow">email - <a href="mailto:{{ zakaznik.email }}">{{ zakaznik.email }}</a></p>
            <p class="yellow">telefon - {{ zakaznik.telefon }}</p>
        </div>
        <div class="col-md-7">
            <h2 class="yellow">profilový obrázek</h2>
            <img src="{{ zakaznik.profilovyObrazek.url }}" height="300px">
        </div>
    </div>
{% endblock %}